  <div class="container" >
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form  #f="ngForm" (ngSubmit)="onLogin(f)" class="box">
                    <h1>Login</h1>
                    <div class="form-group">
                      <label for="mail"><h6>Email</h6></label>
                      <input required minlength="3"  ngModel name="mail" #mail ="ngModel" (change)="chg(mail)" id="mail" type="email" class="form-control" placeholder="mail">
                      <div class="alert alert-danger" *ngIf="mail.touched && !mail.valid">
                        <div *ngIf="mail.errors.required">Email is required</div>
                       <div *ngIf="mail.errors.minlength">Email should have minimum 3 characters</div>
                      </div>
                    </div><br>
                    <div class="form-group">
                      <label for="pass"><h6>Password</h6></label>
                      <input required minlength="3" maxlength="50"  ngModel name="pass" #pass ="ngModel" (change)="chg(pass)" id="pass" type="password" class="form-control" placeholder="pass">
                      <div class="alert alert-danger" *ngIf="pass.touched && !pass.valid">
                        <div *ngIf="pass.errors.required">Password is required</div>
                       <div *ngIf="pass.errors.minlength">Password  should have minimum 3 characters</div>
                       <div *ngIf="pass.errors.maxlength">Password should be max of 50 characters</div>
                      </div>
                    </div>
                  <button class="btn btn-outline-primary" type="submit" [disabled]="!f.valid">submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

